<div ng-app="courseApp" ng-controller="t_publish_info_controller">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">公告发布</h3>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">新公告</h3>
    </div>
    <div class="panel-body">
      <row>
        <div class="col-md-1 col-md-offset-0">
          <span>标题</span>
        </div>
        <div class="col-md-11 col-md-offset-0">
          <input type="text" class="form-control" ng-model="publish_info_title">
        </div>
      </row>
      <br/>
      <br/>
      <row>
        <div class="col-md-1 col-md-offset-0">
          <span>内容</span>
        </div>
        <div class="col-md-11 col-md-offset-0">
          <textarea class="form-control" rows="20" ng-model="publish_info_content"></textarea>
        </div>
      </row>
      <row>
        <span>&nbsp</span>
      </row>
      <row>
        <div class="col-md-1 col-md-offset-11">
          <button type="button" class="btn btn-primary" ng-click="submitPublishNotice(publish_info_title,publish_info_content)"><span class="glyphicon glyphicon-ok"></span>发布</button>
        </div>
      </row>
    </div>
  </div>
</div>
